# VibeCode / Bitrix24
VIBE_API_KEY=vibe_app_local_6a3980a57f9e21_62538899_xfI14B1H3vBDPgDCx4XAu9C27F0y5JYDBTLlaYtyhSKTkwb6Qe_5646dd
BITRIX_DOMAIN=aslz.bitrix24.ru

# Приложение
PORT=3000
APP_URL=https://your-app.vibecode.app
